* {
  box-sizing: border-box;
}

a:hover {
 cursor:pointer;
}

html, body {
  font-family: 'Archer', sans-serif;
  height: 100%;
  width: 100%;
}

body {
  background: #f9f9f9;
  margin: 0;
}

.header {
  background: #fff;
  min-width: 100%;
}

.header img{
  display: block;
  position: relative;
  margin: 0 auto;
  top: 30px;
  margin-bottom: 20px;
  max-width: 400px;
}

nav {
  margin: 0 auto;
  padding: 30px 50px 0 50px;
  text-align: center;
}

nav a {
  color: #222;
  display: block;
  font-size: 21px;
  font-weight: 500;
  padding: 12px 30px;
  list-style: none;
  min-width: 15%;
  text-align: center;
  text-decoration: none;
  transition: color 1s ease-in-out;
}

nav a:hover {
  background: #fff;
  color: black;

}

.content-wrapper {
  background: linear-gradient(to bottom, #f9f9f9 0%,#f9f9f9 100%);
  overflow: scroll;
  padding: 0 60px;
  width: 90%;
  z-index:5;
}

.content {
  margin: 0 auto 800px auto;
  max-width: 700px;
  padding-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Archer';
  font-weight: 300;
  margin-top: 0;
}

h1 { font-size: 60px; }
h2 { font-size: 32px; line-height: 40px; }
h3 { font-size: 28px; line-height: 36px; }

p, .panel, ul {
  font-family: 'gotham';
  font-size: 17px;
  font-weight: 200;
  line-height: 29px;
  margin-bottom: 2rem;
}

.panel .title {
  font-weight: bold;
}

.panel {
  background: white;
  border: 1px solid #dedede;
  margin-top: 40px;
  padding: 50px;
  p:last-child {
    margin-bottom: 0;
  }
}

.panel .album {
  display: inline-block;
  position: relative;
  width: 350px;
  min-height: 250px;
}

.panel .album img {
  border: 10px solid white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
  transition: 1s ease-in-out;
  width: 200px;
  z-index: 6;
}

.panel .album img:first-child{
  position: absolute;
  transform: rotate(-4deg);
  z-index: 1;
}

.panel .album img:nth-child(2n){
  left: 40px;
  position: absolute;
  transform: rotate(0deg);
  z-index: 2;
}
.panel .album img:nth-child(3n){
  left: 75px;
  position: absolute;
  transform: rotate(6deg);
  z-index: 1;
}

.panel .album:hover img:first-child {
  transform: translate(-9em,-40px) rotate(3deg);
}

.panel .album:hover img:nth-child(3n) {
  transform: translate(6em, 100px) rotate(-5deg);
}

.panel:nth-child(2n) .album:hover img:first-child{
  transform: translate(-9em,40px) rotate(3deg);
}

.panel:nth-child(2n) .album:hover img:nth-child(3n){
  transform: translate(9em,-100px) rotate(3deg);
}

.panel .info {
  display: inline-block;
  vertical-align: top;
}

.index-images {
  position: fixed;
  bottom: 0;
  right: 0;
}

.index-images img {
  border: 6px solid white;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.2);
  width: 300px;

  &:first-child{
    transform: rotate(-4deg);
    z-index: 1;
  }

  &:nth-child(2n){
    bottom: 200px;
    position: relative;
    transform: rotate(0deg);
    z-index: 2;
  }

  &:nth-child(3n){
    bottom: 150px;
    position: relative;
    transform: rotate(6deg);
    z-index: 1;
  }
}

#mountains {
  max-width: 55%;
  position: fixed;
  right: -150px;
  bottom: -50px;
}

#plane {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 15%;
}

a.button {
  background: #f26c8f;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  margin-right: 10px;
  padding: 8px 12px;
  text-decoration: none;
}

a.button:hover {
  background: #8ff26c;
}

.header-bar {
  border-top: 10px solid #f26c8f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50;
}

nav {
  left: 0;
  top: 240px;
  position: fixed;
  width: 300px;
  text-align: center;
  padding: 20px;
}

.header img {
  display: inline-block;
  position: fixed;
  left: 50px;
  width: 200px;
}
nav {
  display: inline-block;
}
#countdown {
  color: #ccc;
  position: absolute;
  left: 510px;
  top: 80px;
}

.hotel, .visit {
  position: relative;
}
.visit h2{
  max-width: 80%;
}
.hotel img, .visit img {
  border: 5px solid white;
  box-shadow: 0px 0px 5px #dedede;
  max-width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(4deg);
  transition: 1s ease-in-out;
}

.visit img {
  top: -40px;
  max-width: 150px;
  transform: rotate(-2deg);
  transition: 1s ease-in-out;
}

.hotel:nth-child(2n) img,
.visit:nth-child(2n) img {
  transform: rotate(8deg);
}

.hotel:nth-child(3n) img,
.visit:nth-child(3n) img {
  transform: rotate(-3deg);
}

.hotel img:hover {
  transform: scale(2, 2) rotate(-2deg);
}

.visit img:hover {
  transform: scale(3, 3) rotate(-2deg);
}
