* {
  box-sizing: border-box; }

a:hover {
  cursor: pointer; }

html, body {
  font-family: "Archer A", "Archer B", 'Archer', serif;
  height: 100%;
  width: 100%; }

body {
  background: #f9f9f9;
  margin: 0; }

.main-wrap {
  display: flex;
  justify-content: flex-start;
  height: 100%;
  flex-direction: row;
  z-index: 0; }

.sidebar {
  background: white;
  flex: 2;
  height: 100%;
  text-align: center;
  z-index: 0; }

#contact .panel .button {
  display: inline-block; }

.overlay {
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 0; }

.gallery-item,
.gallery-item img {
  z-index: 5000; }

.content-wrapper {
  flex: 9; }

.sidebar img {
  display: block;
  position: relative;
  margin: 0 auto;
  top: 30px;
  margin-bottom: 40px;
  max-width: 220px; }

nav {
  background: white;
  margin: 0 auto;
  padding: 0px 50px 0 50px;
  text-align: center; }

nav a {
  border-radius: 5px;
  color: #222;
  display: block;
  font-size: 21px;
  font-weight: 400;
  padding: 12px 30px;
  list-style: none;
  min-width: 15%;
  text-align: center;
  text-decoration: none;
  transition: color 1s ease-in-out; }

nav a:hover {
  background: #f4f4f4;
  color: black; }

.content-wrapper {
  background: linear-gradient(to bottom, #f9f9f9 0%, #f9f9f9 100%);
  overflow: scroll;
  padding: 0 60px;
  z-index: 5; }

.content {
  margin: 0 auto 100px auto;
  margin-left: 60px;
  max-width: 700px;
  padding-top: 100px; }

.inline-gallery {
  z-index: 8; }

.inline-gallery .column {
  display: inline-block;
  margin-right: 1em;
  vertical-align: top;
  width: 30%; }

.inline-gallery .column:last-child {
  margin-right: 0; }

.gallery-item {
  background: white;
  display: inline-block;
  margin: 0 0 1em;
  padding: 5px;
  transition: .5s ease-in-out;
  width: 100%;
  z-index: 8; }

.item-title {
  background: white;
  display: none;
  position: absolute;
  font-family: "Gotham Rounded A", "Gotham Rounded B", helvetica, arial, sans-serif;
  font-size: 6px;
  bottom: 15px;
  padding: 5px; }

.gallery-item img {
  max-width: 100%;
  z-index: 8; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Archer A", "Archer B", 'Archer', serif;
  font-weight: 300;
  margin-top: 0; }

h1 {
  font-size: 60px;
  font-weight: 300; }

h2 {
  font-size: 32px;
  font-weight: 300;
  line-height: 40px; }

h3 {
  font-size: 28px;
  font-weight: 300;
  line-height: 36px; }

p, .panel, ul {
  color: #555;
  font-family: "Gotham Rounded A", "Gotham Rounded B", helvetica, arial, sans-serif;
  font-size: 17px;
  font-weight: 200;
  line-height: 29px;
  margin-bottom: 2rem; }

.panel .title {
  font-weight: bold; }

.panel {
  background: white;
  border: 1px solid #dedede;
  margin-top: 40px;
  padding: 50px; }

.panel p:last-child {
  margin-bottom: 0; }

.panel .album {
  display: inline-block;
  position: relative;
  width: 350px;
  min-height: 250px; }

.panel .album img {
  border: 10px solid white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  transition: 1s ease-in-out;
  width: 200px;
  z-index: 6; }

.panel .album img:first-child {
  position: absolute;
  transform: rotate(-4deg);
  z-index: 1; }

.panel .album img:nth-child(2n) {
  left: 40px;
  position: absolute;
  transform: rotate(0deg);
  z-index: 2; }

.panel .album img:nth-child(3n) {
  left: 75px;
  position: absolute;
  transform: rotate(6deg);
  z-index: 1; }

.panel .album:hover img:first-child {
  transform: translate(-9em, -40px) rotate(3deg); }

.panel .album:hover img:nth-child(3n) {
  transform: translate(6em, 100px) rotate(-5deg); }

.panel:nth-child(2n) .album:hover img:first-child {
  transform: translate(-9em, 40px) rotate(3deg); }

.panel:nth-child(2n) .album:hover img:nth-child(3n) {
  transform: translate(9em, -100px) rotate(3deg); }

.panel .info {
  display: inline-block;
  vertical-align: top; }

#mountains {
  max-width: 850px;
  position: fixed;
  right: -150px;
  bottom: -50px;
  z-index: 7; }

@keyframes hideshow {
  0% {
    transform: translate(0, 600px) rotate(-25deg); }
  100% {
    transform: translate(600px, -600px) rotate(-25deg); } }

#plane {
  position: absolute;
  right: 10%;
  top: 10%;
  width: 10%;
  animation: hideshow 15s linear infinite; }

@keyframes rotate {
  0% {
    transform: rotate(0); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(0); } }

#sun {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 30%;
  animation: rotate 90s linear infinite; }

#air {
  position: absolute;
  bottom: 10%;
  right: 0%;
  width: 40%; }

a.button {
  background: #f26c8f;
  border-radius: 5px;
  color: white;
  font-weight: 500;
  margin-right: 10px;
  padding: 8px 12px;
  text-decoration: none; }

a.button:hover,
a.button:focus {
  background: #8ff26c; }

a.button.call {
  background: white;
  border-left: 3px solid #f26c8f;
  color: #f26c8f;
  border-radius: 0; }

a.button.call:hover,
a.button.call:focus {
  background: #f26c8f;
  color: white; }

.header-bar {
  border-top: 10px solid #f26c8f;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 50; }

nav {
  margin: 0 auto;
  position: relative;
  width: 300px;
  text-align: center;
  padding: 20px; }

nav {
  display: inline-block; }

#countdown {
  color: #bbb;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 51; }

.hotel, .visit {
  position: relative; }

.visit h2, .hotel h2 {
  max-width: 80%;
  margin-top: 0; }

.hotel img, .visit img {
  border: 5px solid white;
  box-shadow: 0px 0px 5px #dedede;
  max-width: 200px;
  position: absolute;
  right: 0;
  top: 0;
  transform: rotate(4deg);
  transition: 1s ease-in-out; }

.visit img {
  top: -40px;
  max-width: 150px;
  transform: rotate(-2deg);
  transition: 1s ease-in-out; }

.hotel:nth-child(2n) img,
.visit:nth-child(2n) img {
  transform: rotate(8deg); }

.hotel:nth-child(3n) img,
.visit:nth-child(3n) img {
  transform: rotate(-3deg); }

.hotel img:hover {
  transform: scale(2, 2) rotate(-2deg); }

.visit img:hover {
  transform: scale(3, 3) rotate(-2deg); }

#house {
  position: absolute;
  bottom: -4px;
  right: 0;
  width: 800px;
  z-index: 5000;
  transition: all 2s;
  opacity: 0; }

#mountains {
  transition: all 2s; }

#registry .panel img {
  max-width: 300px;
  width: 100%; }

#registry a:hover {
  opacity: .5; }

#registry .panel a {
  display: block;
  text-align: center; }

#registry .panel a:first-child {
  margin-bottom: 80px; }

#registry .panel a:first-child img {
  max-width: 250px; }

#registry .panel a:nth-child(2n) {
  margin-bottom: 100px; }

#registry .panel a:last-child {
  margin-bottom: 0; }

@media only screen and (max-width: 1100px) {
  .main-wrap {
    display: block; }
  .sidebar {
    height: inherit !important; }
  .sidebar img {
    max-width: 400px; }
  nav {
    width: 100%; }
  nav a {
    font-size: 30px; }
  p, .panel, ul {
    line-height: 45px; }
  svg {
    display: none; }
  #mountains {
    max-width: 300px;
    position: fixed;
    right: -150px;
    bottom: -50px;
    z-index: 7; }
  .sidebar {
    display: block;
    flex: none;
    width: 100%; }
  .hotel img,
  .visit img {
    display: block;
    transform: rotate(0deg) !important;
    position: relative;
    margin-bottom: 20px; }
  .visit h2,
  .hotel h2 {
    max-width: 100%;
    width: 100%; }
  .content {
    margin: 0;
    max-width: 100%;
    width: 100%; } }

@media only screen and (max-width: 1300px) {
  #mountains {
    max-width: 600px; }
  #house {
    max-width: 500px;
    right: -100px; }
  #countdown {
    background: white; } }
